@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
    background-color: aquamarine;
    font-family: Open Sans, sans-serif;
}

header {
    text-align: center;
    color: #5D13E7;
    font-weight: bolder;
    text-shadow: 0.0625rem 0.0625rem #2f2e39;
}

.kuru-coin {
    display: grid;
    max-width: 59.375px;
    margin-left: 812.5px;
    /* grid-template-columns: auto; */
        /* margin: 0 auto; */
        /* margin: 15px 0 5px; */
        /* border: 0; */
        /* padding: 5px; */
        /* min-width: 40px; */
        /* margin-right: 1px; */
}

.kuru-coin > img {
    border-radius: 25px;
}

@media (min-width:320px) {
    .kuru-coin {
        max-width: 59.375px;
        margin-left: 50px;
    }
}

@media (min-width:375px) {
    .kuru-coin {
        max-width: 59.375px;
        margin-left: 80px;
    }
}

@media (min-width:425px) {
    .kuru-coin {
        max-width: 59.375px;
        margin-left: 110px;
    }
}

@media (min-width:768px) {
    .kuru-coin {
        max-width: 59.375px;
        margin-left: 185px;
    }
}

@media (min-width:1024px) {
    .kuru-coin {
        max-width: 59.375px;
        margin-left: 305px;
    }
}

@media (min-width:1440px) {
    .kuru-coin {
        max-width: 59.375px;
        margin-left: 515px;
    }
}

@media (min-width:1788px) {
    .kuru-coin {
        max-width: 59.375px;
        margin-left: 810px;
    }
}

@media (min-width:2160px) {
    .kuru-coin {
        max-width: 59.375px;
        margin-left: 950px;
    }
}

@media (min-width:2560px) {
    .kuru-coin {
        max-width: 59.375px;
        margin-left: 1070px;
    }
}

/* @media screen and (-webkit-min-device-pixel-ratio:0) { 
    .kuru-coin {
        max-width: 59.375px;
        margin-left: 810px;
    }
}

@-moz-document url-prefix() {
    .kuru-coin {
        max-width: 59.375px;
        margin-left: 950px;
    }
} */

.kuru-coins {
grid-column: 1 / 2;
grid-row: 1 / 1;
}

.kuru-pink {
grid-column: 2 / 2;
grid-row: 1 / 1;    
}

@media (min-width:320px) and (max-width:426px) {
        .kuru-coins {
        grid-column: 1 ;
        grid-row: 1 / 2;
        }
        
        .kuru-pink {
        grid-column: 1 ;
        grid-row: 2 / 2;    
        }
}​

.field-set{
    border-radius: 25px;
    color: #FFF8B5;
    text-shadow: 0.0625rem 0.0625rem #2f2e39;
    max-width: 950px;
    margin: 0 auto;
}

.form-border {
    background-color:#00AD7C;
    border-radius: 20px;
}

.form-space {
    /* padding-left: 750px;
    padding-right: 200px; */
    color: #FFF8B5;
    
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
}

label {
    display: block;
    margin: 15px 0 5px;
}

.fill {
    display: inline-block;
    margin: 0 10px;
    /* padding-left: 10px;
    padding-right: 10px; */
    /* margin: 25px 25px 25px 250px; */
}

button {
    margin-top: 15px;
    /*margin-left: 1050px;
    margin-right: 200px;  */
    /* margin: 25px 25px 25px 1050px; */
    /* margin: 25px 250px 25px 450px; */
    color: #5D13E7;
    background-color: #B5FF7D;
    border-radius: 6px;

    border: 0;
    padding: 5px;
    min-width: 80px;
}

li {
    padding: 5px 12px;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: #52D681;
    margin: 12px auto;
    list-style-type: none;
    text-shadow: 0.0625rem 0.0625rem #2f2e39;
}

li h3 {
    color: #5D13E7;
    margin: 0;
    text-transform: capitalize;
}

li p {
    color: #FFF8B5;
    margin: 10px 0 0;
}